@page "/"

@using Weather.Models
@using Weather.Services
@using MudBlazor

@inject IWeatherService WeatherService
@inject ICitySuggestionService CitySuggestionService
@inject IJSRuntime JSRuntime
@inject ISnackbar Snackbar

<title>Weather Forecast</title>
<MudText Typo="Typo.h4" GutterBottom="true" Align="Align.Center">Weather Forecast</MudText>

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-6">
    <MudPaper Class="pa-4" Elevation="3">
        <MudGrid Justify="Justify.SpaceBetween" Class="mb-4">
            <MudItem xs="12" sm="8">
                <MudAutocomplete @bind-Value="SelectedCity"
                                 Label="City"
                                 Variant="Variant.Text"
                                 Placeholder="Enter city"
                                 Adornment="Adornment.Start"
                                 AdornmentIcon="@Icons.Material.Filled.LocationCity"
                                 AdornmentColor="Color.Primary"
                                 IconSize="Size.Medium"
                                 Immediate="true"
                                 ToStringFunc="(city) => city?.DisplayName"
                                 MinCharacters="2"
                                 OnClearButtonClick="ClearSelectedCity"
                                 SearchFunc="@SearchCitySuggestions"
                                 Clearable="true" 
                                 TextChanged="OnInputTextChanged" />
            </MudItem>
            <MudItem xs="12" sm="4" Class="d-flex justify-end">
                <MudButton OnClick="GetWeatherAsync"
                           Disabled="@(SelectedCity == null || _weatherData.IsLoading)"
                           Color="Color.Primary"
                           Variant="Variant.Filled"
                           Size="Size.Small"
                           Class="mx-2"
                           AriaLabel="Get Weather">
                    Get Weather
                </MudButton>
                <MudIconButton OnClick="GetWeatherByLocationAsync"
                               Color="Color.Primary"
                               Variant="Variant.Filled"
                               Icon="@Icons.Material.Filled.MyLocation"
                               Size="Size.Large"
                               AriaLabel="Get Weather by Location" />
            </MudItem>
        </MudGrid>

        @if (_weatherData.IsLoading)
        {
            <MudSkeleton Width="100%" Height="200px" Class="mb-3" />
        }
        else if (_weatherData.WeatherResponse?.WeatherData != null && _weatherData.WeatherResponse?.DailyForecasts != null)
        {
            <!-- Current Weather Section -->
            <MudPaper Class="pa-4 mt-5" Elevation="2">
                <MudText Align="Align.Center" id="CityLabel" Typo="Typo.h5">@_weatherData.WeatherResponse.WeatherData.Name</MudText>
                <MudStack Spacing="2" AlignItems="AlignItems.Center">
                    <MudAvatar Size="Size.Large" Class="weather-icon">
                        <MudImage Src="@GetIconUrl(_weatherData.WeatherResponse.WeatherData.Weather?[0].Icon ?? "")" Alt="@_weatherData.WeatherResponse.WeatherData.Weather?[0].Description" />
                    </MudAvatar>
                    <MudText Typo="Typo.h6">@_weatherData.WeatherResponse.WeatherData.Main?.Temp°F</MudText>
                    <MudText Typo="Typo.h6">Humidity @_weatherData.WeatherResponse.WeatherData.Main?.Humidity%</MudText>
                    <MudText Typo="Typo.subtitle2">@_weatherData.WeatherResponse.WeatherData.Weather?[0].Description</MudText>
                </MudStack>
            </MudPaper>

            <!-- 5-Day Forecast Section -->
            <MudText Typo="Typo.h6" GutterBottom="true" Class="mt-4">5-Day Forecast:</MudText>
            <MudGrid Spacing="3">
                @foreach (var day in _weatherData.WeatherResponse.DailyForecasts)
                {
                    <MudItem xs="12" sm="6" md="4" lg="3">
                        <MudPaper Class="pa-2 forecast-card"
                                  Elevation="2"
                                  Style="cursor: pointer;"
                                  @onclick="() => ToggleDay(day.Key)">
                            <MudStack Spacing="2" AlignItems="AlignItems.Center">
                                <MudAvatar Size="Size.Medium" Class="weather-icon">
                                    <MudImage Src="@GetIconUrl(day.Value.Icon ?? "")" Alt="@day.Value.Icon" />
                                </MudAvatar>
                                <MudText Typo="Typo.subtitle1">@DateTime.Parse(day.Key).ToString("dddd MMM d")</MudText>
                                <MudText Typo="Typo.body2">High: @day.Value.High°F</MudText>
                                <MudText Typo="Typo.body2">Low: @day.Value.Low°F</MudText>
                            </MudStack>

                        </MudPaper>
                    </MudItem>
                }
            </MudGrid>

            <!-- Hourly Forecast Expanded Section -->
            @if (!string.IsNullOrEmpty(_weatherData.ExpandedDay))
            {
                <MudPaper Class="pa-4 mt-4 mud-animate-fadein" Elevation="1">
                    <MudText Typo="Typo.h6">Hourly Forecast for @DateTime.Parse(_weatherData.ExpandedDay).ToString("dddd MMM d"):</MudText>
                    <MudGrid Spacing="3">
                        @if (_weatherData.WeatherResponse.DailyForecasts.ContainsKey(_weatherData.ExpandedDay) && _weatherData.WeatherResponse.DailyForecasts[_weatherData.ExpandedDay]?.Details is not null)
                        {
                            @foreach (var hourly in _weatherData.WeatherResponse.DailyForecasts[_weatherData.ExpandedDay].Details!)
                            {
                                <MudItem xs="12" sm="6" md="4" lg="2">
                                    <MudPaper Class="pa-2" Elevation="1" Style="text-align: center;">
                                        <MudText Typo="Typo.caption">@DateTime.Parse(hourly.Dt_Txt ?? "").ToString("h:mm tt")</MudText>
                                        <br />
                                        <MudAvatar Size="Size.Small">
                                            <MudImage Src="@GetIconUrl(hourly.Weather?[0]?.Icon ?? "")" Alt="@hourly.Weather?[0]?.Description" />
                                        </MudAvatar>
                                        <MudText Typo="Typo.body2">@hourly.Main?.Temp°F</MudText>
                                        <MudText Typo="Typo.caption">@hourly.Weather?[0]?.Description</MudText>
                                    </MudPaper>
                                </MudItem>
                            }
                        }
                    </MudGrid>
                </MudPaper>
            }
        }
    </MudPaper>
</MudContainer>

@code {
    public CitySuggestion? SelectedCity { get; set; }
    internal WeatherDataModel _weatherData = new WeatherDataModel();
    internal const string WeatherIconBaseUrl = "https://openweathermap.org/img/wn/";

    private void ClearSelectedCity()
    {
        SelectedCity = null;
    }

    private void OnInputTextChanged(string input)
    {
        if (string.IsNullOrWhiteSpace(input))
        {
            SelectedCity = null;
        }
    }

    public async Task<IEnumerable<CitySuggestion?>>? SearchCitySuggestions(string value, CancellationToken cancellationToken)
    {
        if (string.IsNullOrWhiteSpace(value))
        {
            SelectedCity = null;
            return [];
        }

        return await CitySuggestionService.GetCitySuggestionsAsync(value, cancellationToken);
    }

    public async Task GetWeatherAsync()
    {
        StartLoading();
        try
        {
            if(SelectedCity is null)
            {
                DisplayError("Please select a city.");
                return;
            }

            if(SelectedCity.Lng is null || SelectedCity.Lat is null)
            {
                DisplayError("Location not found.");
                return;
            }

            _weatherData.WeatherResponse = await WeatherService.GetWeatherAsync(lat: double.Parse(SelectedCity.Lat), lon: double.Parse(SelectedCity.Lng));

            ResetExpandedDay();
        }
        catch (Exception ex)
        {
            DisplayError($"An error occurred: {ex.Message}");
        }
        finally
        {
            StopLoading();
        }
    }

    internal async Task GetWeatherByLocationAsync()
    {
        StartLoading();

        try
        {
            // Call JavaScript to get the user's location (lat/lon)
            var location = await JSRuntime.InvokeAsync<Location>("getUserLocation");

            if(location.Latitude is null || location.Longitude is null)
            {
                DisplayError("Failed to retrieve location.");
                return;
            }

            // Fetch weather data using the user's latitude and longitude
            _weatherData.WeatherResponse = await WeatherService.GetWeatherAsync(lat: location.Latitude, lon: location.Longitude);

            ResetExpandedDay();
        }
        catch (Exception ex)
        {
            DisplayError($"Failed to retrieve location: {ex.Message}");
        }
        finally
        {
            StopLoading();
        }
    }

    private void ToggleDay(string day) => _weatherData.ExpandedDay = _weatherData.ExpandedDay == day ? "" : day;

    private string GetIconUrl(string icon) => $"{WeatherIconBaseUrl}{icon}.png";

    private void StartLoading() => _weatherData.IsLoading = true;

    private void StopLoading() => _weatherData.IsLoading = false;
    
    private void ResetExpandedDay() => _weatherData.ExpandedDay = "";
    
    private void DisplayError(string message) => _weatherData.ErrorMessage = message;
}